.button {
  width: 200px;
  height: 50px;
  color: $primary-white-color;
  background-color: $accent-color;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  text-decoration: none;
  outline: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $primary-white-color;
    color: $accent-color;
  }
}

.btn-modal {
  @extend .button;

  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  margin-bottom: 40px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $primary-white-color;
    color: $accent-color;
  }
}

.button-footer {
  @extend .button;

  padding-left: 29px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: rgba(151, 148, 148, 0.15);
    color: $accent-color;
  }

  & .send {
    margin-left: 10px;
  }

  @include for-size(desktop) {
    margin: 0;
  }
}
