.footer-media {
  width: 44px;
  height: 44px;

  border-radius: 50%;

  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);

  transition: border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-radius: 50%;
    background-color: $accent-color;
    fill: $primary-white-color;
  }
}

.button-footer {
  .send {
    margin-left: 10px;
  }
}

.bg-footer {
  background-color: $bg-color-footer;
  width: 100%;
}

.address-footer {
  padding-top: 60px;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 20px;
}

.address {
  color: $primary-white-color;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
}

.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
}

// footer join-us

.join-us {
  color: $primary-white-color;

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-input {
  color: $primary-white-color;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
}
