.bg-footer {
  background-color: $bg-color-footer;
  width: 100%;
  padding-bottom: 60px;
  padding-top: 60px;
}

.tablet {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
}

.full-address {
  width: 231px;
  height: 81px;
  margin-right: auto;
  margin-left: auto;

  & .address {
    color: $primary-white-color;
    display: block;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style: normal;

    margin-top: 0px;
    margin-bottom: 8px;
  }

  & .footer-contacts {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style: normal;
    display: block;
    margin-bottom: 9px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.address-footer {
  text-align: center;

  .logo-footer {
    display: inline-block;

    margin-bottom: 20px;
  }

  .logo.white {
    color: $primary-white-color;
  }
}

// footer join-us

.sign {
  width: 450px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 60px;
}

.join-us {
  color: $primary-white-color;

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

.item-links-footer {
  display: block;
  margin-right: 10px;
}

.footer-media {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);

  transition: border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-radius: 50%;
    background-color: $accent-color;
    fill: $primary-white-color;
  }
}

.footer-input {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  padding: 12px 0px 12px 16px;
  color: $primary-white-color;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
}

.button-footer {
  display: flex;
  margin-right: auto;
  margin-left: auto;

  .send {
    margin-left: 10px;
  }
}
