.page-header {
  margin-left: auto;
  margin-right: auto;

  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid #ececec;
  border-left: none;
  border-right: none;
  border-top: none;
}


.site-nav {
 
  margin-left: auto;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  & .item:not(:last-child) {
    margin-right: 40px;
  }
}

.site-nav {
  .link {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    padding-top: 31px;
    padding-bottom: 31px;

    position: relative;

    color: $first-title-text-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}

.site-nav {
  .link {
    &.current::after {
      content: "";
      position: absolute;

      display: block;
      width: 100%;
      height: 4px;
      left: 0;
      bottom: -2px;

      border-radius: 2px;
      background-color: $accent-color;
    }
    &.current {
      color: $accent-color;
    }
  }
}
