.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;

  line-height: 1.19;
  text-decoration: none;

  @media screen and (max-width: 1170px) {
    font-size: 24px;
  }

  @include for-size(desktop) {
    font-size: 26px;
  }

  &.main {
    color: $accent-color;
  }
  &.second {
    color: $second-logo-color;
    margin-right: 85px;
    display: inline-block;
  }
}
