.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
}

.modal {
  display: inline-flex;
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: $primary-white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  &-title {
    color: $first-title-text-color;
    margin: 0;
    padding-top: 40px;
    padding-bottom: 12px;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
  }
}

.form {
  width: 450px;
  height: 609px;

  @include for-size(desktop) {
    width: 528px;
    height: 581px;
  }
}

.form-field {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
  width: 370px;

  @include for-size(desktop) {
    width: 448px;
  }

  &:nth-last-child(3) {
    padding-bottom: 20px;
  }

  @media screen and (max-width: 767px) {
    &:hover .user-name,
    &:focus .user-name {
      color: $accent-color;
    }
  }
}

.user-name {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  padding-bottom: 4px;
}

.modal-input {
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 0px 12px 40px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment {
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  font-weight: normal;
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
  }
}

.form-field:hover,
.form-field:focus {
  .modal-input,
  .comment:focus,
  .comment:hover {
    border: 1px solid $accent-color;
  }
}

.icon-modal {
  position: absolute;
  top: 29px;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .form-field:hover &,
  .form-field:focus & {
    fill: $accent-color;
  }
}

.checkbox {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;

  &-label {
    position: absolute;
    display: inline-flex;
    align-items: center;

    padding-bottom: 30px;
    transform: translateX(54px);
  }

  &-title {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }

  &-policy {
    color: $accent-color;
    text-decoration: underline;
  }
}

.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid $first-title-text-color;
  border-radius: 2px;
  margin-right: 8px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-image 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-size 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-origin 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .checkbox:checked + & {
    border-color: $accent-color;
    background-color: $accent-color;
    background-image: url(../images/icon-check.svg);
    background-size: contain;
    background-origin: border-box;
  }
}

.button-close {
  position: fixed;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;

  border: 1px solid #ececec;
  cursor: pointer;
  background-color: $primary-white-color;
}

.icon-close {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    fill: $accent-color;
  }
}
