.section {
  padding-bottom: 94px;

  &.features {
    padding-top: 94px;
  }
}

.about-us {
  .item {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
}

.title {
  color: $first-title-text-color;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.img-about {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;

  background: $second-bg-color;
}

.content {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 14px;
  line-height: 1.7;
}

.title {
  margin-top: 30px;
  margin-bottom: 10 px;
}
