.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1170px) {
    width: 1170px;
  }
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.section {
  padding-bottom: 60px;
}

.section-title {
  color: $first-title-text-color;
  margin-top: 0px;
  margin-bottom: 30px;

  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}
