$primary-text-color: #757575;
$first-title-text-color: #212121;
$accent-color: #2196f3;
$primary-white-color: #ffffff;
$second-bg-color: #f5f4fa;
$bg-color-footer: #2f303a;
$second-logo-color: #000000;
